@media screen and (min-width:200px) {
  :root {
    /* Colors */

      /* Primary */

      --Scissors-Gradient: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
      --Paper-Gradient--: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
      --Rock-Gradient: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
      --Lizard-Gradient: linear-gradient(to bottom, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
      --Cyan: linear-gradient(to bottom, hsl(189, 59%, 53%), hsl(189, 58%, 57%));

      /* Neutral */

      --Dark-Text: hsl(229, 25%, 31%);
      --Score-Text: hsla(229, 73%, 29%, 0.792);
      --Header-Outline: hsl(217, 16%, 45%);

      /* Background */

      --Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
      --Elements-bg: whitesmoke;

    /* Fonts */
    --main-ff:'Barlow Semi Condensed', 'sans-serif';
    --main-fs: 1rem;
    --normal-fw: 600;
    --bold-fw: 700;

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    display: flex;
    justify-content: center;
  }

  body {
    background-image: var(--Radial-Gradient);
    max-width: 375px;
    font-family: var(--main-ff);
    font-size: var(--main-fs);
    font-weight: var(--normal-fw);
    color: var(--Elements-bg);
    max-width: 375px;
    min-height: 750px;
  }

  header {
    position: relative;
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 95px;
    min-width: 315px;
    margin-inline: auto;
    margin-top: 35px;
    line-height: 0.8;
    font-weight: 700;
    font-size: 0.675rem;
    justify-content: space-between;
    border-radius: 8px;
    border: 3px solid var(--Header-Outline);
    max-width: 90%;
    padding: 10px;
  }

  .header-title {
    padding: 10px;
  }

  button {
    font-family: var(--main-ff);
  }

  .header-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: whitesmoke;
    color: var(--Score-Text);
    letter-spacing: 1px;
    line-height: 1;
    padding-block: 10px;
    width: 80px;
    border-radius: 5%;
  }

  .header-score {
    font-size: 2.75rem;
  }

  .battle-area-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  }

  .battle-area {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: url(src/assets/images/bg-triangle.svg) center;
    background-repeat: no-repeat;
    background-size: 70%;
    align-items: center;
    justify-items: center;
    height: 40svh;
    min-height: 260px;
    width: 80svw;
    min-width: 315px;
    justify-content: space-evenly;
  }

  .battle-icon {
    display: flex;
    position: relative !important;
    background: var(--Elements-bg);
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    cursor: pointer;
  }

  .fight-container .battle-icon {
    cursor: default;
  }

  .battle-icon img {
    scale:0.9;
  }

  .paper {
    background: var(--Paper-Gradient--);
    box-shadow: inset 0px -6px 2px -2px var(--Dark-Text);
  }

  #paper {
    position: absolute;
    left: 0;
    top: 0;
  }

  .scissors {
    background: var(--Scissors-Gradient);
    box-shadow: inset 0px -6px 2px -2px var(--Dark-Text);
  }

  #scissors {
    position: absolute;
    right: 0;
    top: 0;
  }

  .rock {
    background: var(--Rock-Gradient);
    box-shadow: inset 0px -6px 2px -2px var(--Dark-Text);
    box-shadow: inset 0px -8px 8px 0px var(--Dark-Text);
    margin-inline: auto;
  }

  #rock {
    position: absolute;
    bottom: 0;
    margin-inline: auto;
  }

  .fight-el-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Elements-bg);
    border-radius: 100%;
    width: 92px;
    height: 90px;
    box-shadow: inset 0px 3px 6px 0px var(--Dark-Text);
  }

  .rules-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 40px;
    background: inherit;
    color: var(--Elements-bg);
    border: 1px solid var(--Elements-bg);
    margin-inline: auto;
    margin-top: 150px;
    border-radius: 8px;
    letter-spacing: 0.1rem;
    font-weight: var(--bold-fw);
    opacity: 0.7;
  }

  .rules-container {
    display: flex;
    color: var(--Dark-Text);
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background: var(--Elements-bg);
    height: 100%;
    width: 100%;
    z-index: 5;

  }
  
  .rules-img {
    display: flex;
  }

  .close-rules-btn{
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .close-rules-btn::after,
  .close-rules-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px; 
    height: 20px; 
    background-color: var(--Header-Outline);
    opacity: 0.65;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-rules-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .fight-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 40svh;
    min-height: 260px;
    width: 80svw;
    min-width: 300px;
    margin-inline: auto;
    justify-content: space-evenly;
  }

  .fight-icons-container {
    display: flex;
    width: 100%;
    margin-top: 95px;
    justify-content: space-between;
  }

  .battle-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .result-text {
    font-size: 3rem;
    font-weight: var(--bold-fw);
    margin-top: 85px;
    animation: fadeIn 2s, scaleAnimation 2s;
  }

  .play-again-btn {
    width: 220px;
    height: 47px;
    color: var(--Dark-Text);
    letter-spacing: 0.1rem;
    font-weight: var(--bold-fw);
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    animation: fadeIn 2s, scaleAnimation 2s;
  }

  .battle-icon.house {
      animation: rotateAnimation 1s, scaleAnimation 500ms ease-in-out;
  }

  .battle-icon.pulse.house {
    animation: rotateAnimation 1s, scaleAnimation 500ms ease-in-out, pulseAnimation 1s linear 2s infinite;
  }

  .battle-icon.pulse {
    animation: pulseAnimation 1s linear 2s infinite;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    80% {
      opacity: 0.35;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes rotateAnimation {
    0% {
      transform: rotate(180deg);
      opacity: 0;
    }
    50% {
      transform: rotate(640deg);
      opacity: 0.1;
    }

    80% {
      transform: rotate(1280deg);
      opacity: 0.25;
    }
    100% {
      transform: rotate(1460deg);
      opacity: 1;
    }
  }

  @keyframes pulseAnimation {
    1% {
      box-shadow: 0px 0px 5px 0px var(--Header-Outline);
    }
    20% {
      box-shadow: 0px 0px 10px 0px var(--Header-Outline);
      box-shadow: 0px 0px 20px 0px var(--Header-Outline);
    }
    30% {
      box-shadow: 0px 0px 10px 0px var(--Header-Outline);
      box-shadow: 0px 0px 20px 0px var(--Header-Outline);
      box-shadow: 0px 0px 30px 0px var(--Header-Outline);
    }
    40% {
      box-shadow: 0px 0px 15px 0px var(--Header-Outline);
      box-shadow: 0px 0px 30px 0px var(--Header-Outline);
      box-shadow: 0px 0px 60px 0px var(--Header-Outline);
    }
    50% {
      box-shadow: 0px 0px 20px 0px var(--Header-Outline);
      box-shadow: 0px 0px 40px 0px var(--Header-Outline);
      box-shadow: 0px 0px 80px 0px var(--Header-Outline);
    }
    60% {
      box-shadow: 0px 0px 15px 0px var(--Header-Outline);
      box-shadow: 0px 0px 30px 0px var(--Score-Text);
      box-shadow: 0px 0px 60px 0px var(--Dark-Text);
    }
    70% {
      box-shadow: 0px 0px 10px 0px var(--Header-Outline);
      box-shadow: 0px 0px 20px 0px var(--Score-Text);
      box-shadow: 0px 0px 30px 0px var(--Dark-Text);
    }
    80% {
      box-shadow: 0px 0px 10px 0px var(--Header-Outline);
      box-shadow: 0px 0px 20px 0px var(--Score-Text);
    }
    100% {
      box-shadow: 0px 0px 5px 0px var(--Header-Outline);
    }
  }

  @keyframes scaleAnimation {
    0% {
      transform: scale(0.1);
    }
    100% {
      transform: scale(1);
    }
  }
}

@media (min-width: 450px) {

  body{
    max-width: 1366px;
  }

  header {
    width: 705px;
    height: 150px;
    font-size: 1.2rem;
    border-radius: 15px;
  }

  .header-title {
    padding: 20px;
  }

  .header-score-container {
    width: 150px;
    height: 115px;
  }

  .battle-icon {
    width: 300px;
    height: 300px;
  }

  .battle-icon-container {
    flex-direction: column-reverse;
  }

  .battle-icon-container p {
    margin-bottom: 65px;
    font-size: 1.475rem;
  }

  .battle-area-container {
    margin-top: 35px;
  }

  .fight-el-bg {
    width: 225px;
    height: 225px;
  }

  .rock {
    box-shadow: inset 0px -8px 8px 0px var(--Dark-Text);
  }

  .scissors {
    box-shadow: inset 0px -8px 8px 0px var(--Dark-Text);
  }

  .paper {
    box-shadow: inset 0px -8px 8px 0px var(--Dark-Text);
  }

  .fight-el-bg img {
    scale: 2;
  }
  
  .rules-desktop {
    position: fixed;
    z-index: 5;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100svw;
    height: 100svh;
    background: rgba(0, 0, 0, 0.47);
  }

  .rules-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    opacity: 1;
  }

  .rules-container {
    position: relative;
    border-radius: 15px;
    padding: 36px;
    height: auto;
    width: auto;
  }

  .rules-img {
    margin-top: 65px;
  }

  .rules-container :nth-child(3) {
    position: absolute;
    top: 46px;
    right: 36px;
  }

  .rules-container h1 {
    position: absolute;
    left: 36px;
    top: 36px;
  }

  .rules-wraper {
    position: absolute;
    left: 0;
  }

  .battle-area {
    width: 480px;
    height: 430px;
  }

  .battle-area .battle-icon {
    width: 205px;
    height: 205px;
  }

  .battle-area .fight-el-bg {
    width: 155px;
    height: 155px;
  }

  .battle-area .fight-el-bg img {
    scale: 1.5;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .result-container {
    position: absolute;
    margin-top: 100px;
  }

  .result-text {
    font-size: 3.5rem;
    animation: fadeIn 2s, scaleAnimation 2s;
  }

  .play-again-btn {
    width: 220px;
    height: 50px;
  }

  .fight-icons-container {
    width: min-content;
    animation: slideFightIcons 2s ease-out forwards;
  }

@keyframes slideFightIcons {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

}
